<a href="https://colab.research.google.com/github/FelipeAGCosta/PythonBegineerExercices/blob/main/Praticando_DataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.60.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.2.5)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [ ]:
print(lista)

[8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

In [ ]:
import random

In [ ]:
from random import choice

In [ ]:
sorteio = choice(lista)
sorteio

87

In [ ]:
menores_que_100 = [n for n in lista if n < 100]

In [ ]:
numero_sorteado = random.choice(menores_que_100)
print(f"Numero sorteado: {numero_sorteado}")

Numero sorteado: 1

In [ ]:
import math

In [ ]:
base = int(input("Digite o primeiro número inteiro (base): "))
expoente = int(input("Digite o segundo número inteiro (expoente): "))

Digite o primeiro número inteiro (base): 7
Digite o segundo número inteiro (expoente): 2

In [ ]:
resultado = math.pow(base, expoente)

In [ ]:
print(f"{base} elevado a {expoente} é igual a {resultado}")

7 elevado a 2 é igual a 49.0

In [ ]:
total_participantes = int(input("Digite o número total de participantes: "))

Digite o número total de participantes: 30

In [ ]:
numero_sorteado = random.randrange(1, total_participantes +1)

print(f"O número sorteado foi: {numero_sorteado}")

O número sorteado foi: 3

In [ ]:
nome = input("Digite o seu nome: ")

Digite o seu nome: Joesley

In [ ]:
token = random.randrange(000, 9998, 2)
print(f"Olá, {nome} seu token é: {token}")

Olá, Joesley seu token é: 1452

In [ ]:
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

In [ ]:
salada_surpresa = random.sample(frutas, 3)

print("Sua salada de frutas surpresa contém: ")
for fruta in salada_surpresa:
    print("-", fruta)

Sua salada de frutas surpresa contém:
- pêra
- manga
- coco

In [ ]:
numeros = [2, 8, 15, 23, 91, 112, 256]

In [ ]:
for n in numeros:
  raiz = math.sqrt(n)
  if raiz.is_integer():
    print(f"A raiz quadrada de {n} é {int(raiz)} (inteira).")
  else:
    print(f"A raiz quadrada de {n} não é um número inteiro.")

A raiz quadrada de 2 não é um número inteiro.
A raiz quadrada de 8 não é um número inteiro.
A raiz quadrada de 15 não é um número inteiro.
A raiz quadrada de 23 não é um número inteiro.
A raiz quadrada de 91 não é um número inteiro.
A raiz quadrada de 112 não é um número inteiro.
A raiz quadrada de 256 é 16 (inteira).